boto==2.40.0
dj-database-url==0.4.1
Django==1.9.6
django-appconf==1.0.2
django-compressor==2.0
django-storages==1.4.1
easy-thumbnails==2.3
Pillow==3.2.0
psycopg2==2.6.1
rcssmin==1.0.6
rjsmin==1.0.12
s3utils==0.6.1
