{% load static from staticfiles %}
<html>
  <head>
    <title>MARTA</title>
    <meta charset="utf-8">
    <meta name="description" content="Мультиварки в Израиле, каталог мультиварок, все мультиварки Израиля " />
    <title>Мультиварки МАРТА в Израиле | Мультиварки в Израиле</title>
    <!-- Normalize HTML5 Reset -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css">

    <!-- styles.css Link -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.css">

    <!-- Responsive Shizz -->
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0">
  </head>

<body>
  <div class="banner">
    <div class="wrapper">
      <h1>Мультиварки в <br> Израиле <br>0549438101</h1>
    </div>
  </div>
  <div class="nav">
    <div class="wrapper">
      <a href="{% url 'product_list' %}">Мультиварки</a>
      <a href="https://www.facebook.com/multicooking/"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="https://ok.ru/multimarta"><i class="fa fa-odnoklassniki-square" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCSuskl7I-UuyyxiTZevpsvw/videos"><i class="fa fa-youtube-square" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCSuskl7I-UuyyxiTZevpsvw/videos"><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="http://timbuktoo.livejournal.com/1602334.html">Обзор</a>

      <label for="search"></label>
      <input type="search" id="search">
    </div>
  </div>
        {% block content %}
        {% endblock %}


</body>
</html>
