{% extends "base.html" %}
{% load thumbnail %}
{% block title %} &bull; Product List{% endblock %}

{% block content %}

<ul class="product">
<li>
  <img src="{{ product.image.url }}" alt="{{ product.name }}">
  <a href="tel:0586886095" class="button">058-6886095</a>

</li>
<li>
  <div class="product_info">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe width="100%" height="50%"src="{{ product.video }}"></iframe>
    </div>
      <p class="price"><del>цена ₪{{ product.price }}</del></p>
    <p class="sale_price">цена сейчас ₪{{ product.sale_price }}</p>
    <p><strong>10 беспроцентных платежей + бесплатная доставка!</strong></p>
    <h2>Описание мультиварки</h2>
    <p>{{ product.full_info|linebreaks }}</p>
    <h2>Программы</h2>
    <p>{{ product.programs|linebreaks }}</p>
      <a href="tel:0586886095" class="button">0586886095</a>
  </div>
</li>
</ul>

 {% endblock %}
