{% extends "base.html" %}
{% load thumbnail %}
{% block title  %}Каталог мультиварок{% endblock %}

{% block content %}
    <div class="album text-muted">
      <div class="container">
            <div class="row">
            {% for object in object_list %}
              <div class="card" style="border: 1px solid #e5e5e5;">
                <img src="{% thumbnail object.image 289x280 crop %}" alt="{{ object.name }}">
                  <h4 class="card-title">{{ object.name }}</h4>
                <p class="card-text">{{ object.description }}</p>
                   <div class="ratings text-danger float-right">
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                      <i class="fa fa-heart" aria-hidden="true"></i>
                   </div>
              <p>
                <a href="/shop/product/detail/{{ object.slug }}" class="btn btn-info">{{ object.sale_price }}
                    <i class="fa fa-ils" aria-hidden="true"></i></a>
                <a href="/shop/product/detail/{{ object.slug }}" class="btn btn-primary">Описание модели</a>
              </p>
              </div>
            {% endfor %}
            </div>
      </div>
    </div>
{% endblock %}
