{% extends "base.html" %}
{% load thumbnail %}
{% block title  %}Каталог мультиварок{% endblock %}

{% block content %}
{% for object in object_list %}
    <ul class="resources">
    <li>
      <img src="{{ object.image.url }}" alt="{{ object.name }}">
      <div class="resource_info">
        <h2>{{ object.name }}</h2>
        <a href="/shop/product/detail/{{ object.slug }}" class="button">Описание</a>
        <p class="price">{{ object.sale_price }}₪</p>
      </div>
    </li>
  </ul>
{% endfor %}
{% endblock %}
